{
    "token": "",
    "clientId":"",
    "guildId":"",
    "imageApiToken":"",
    "imageApiVersion":""
    "mySqlInfo":{
        "host": "localhost",
        "user": "",
        "password": "",
        "database": "",
        "port": 
    }
}